:root {
  --border-width-thick: 4px;
  --color-master-primary: #B28756;
  --color-master-darkest: #0a0a0a;
  --color-master-light: #e6e6e6;
  --color-master-lightest: #fafafa;
  --font-family-default: 'Montserrat', sans-serif;
  --font-size-xxxs: 12px;
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --font-size-display: 80px;
  --font-size-giant: 96px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --spacing-quarck: 4px;
  --spacing-nano: 8px;
  --spacing-xxxs: 16px;
  --spacing-xxs: 24px;
  --spacing-xs: 32px;
  --spacing-sm: 40px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --spacing-xl: 64px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 120px;
  --spacing-huge: 160px;
  --spacing-giant: 200px;
  --spacing_inset-quarck: 4px;
  --spacing_inset-nano: 8px;
  --spacing_inset-xs: 16px;
  --spacing_inset-sm: 24px;
  --spacing_inset-md: 32px;
  --spacing_inset-regular: 36px;
  --spacing_inset-lg: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-master-darkest);
  height: calc(var(--spacing-xxxl) - 20px);
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

#header__logo {
  height: 70px;
  width: 70px;
}

.header__menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header__list {
  color: var(--color-master-lightest);
  display: flex;
  margin: 0;
  padding: 0;
}

.header__list li {
  list-style: none;
  padding: var(--spacing_inset-nano);
}

.header__list li > a {
  color: var(--color-master-lightest);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing_inset-regular) 0;
  text-decoration: none;
  text-transform: uppercase;
}

.header__list li > a[active="true"],
.header__list li > a:hover {
  border-bottom: var(--border-width-thick) solid var(--color-master-primary);
}

.main {
  height: auto;
  width: 100vw;
}

.main__hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  width: auto;
}

.main__hero-area {
  display: flex;
  height: 100%;
  width: calc(100vw * 3);
}

.main__hero-img {
  display: inline-block;
  filter: brightness(60%);
  height: 100%;
  object-fit: cover;
  width: 100vw;
}

.main__hero-title {
  align-items: center;
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xxl);
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.main__hero-title > span {
  color: var(--color-master-primary);
}


