:root {
  --border-width-hairline: 2px;
  --border-width-thick: 4px;
  --border-radius-none: 0;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-pill: 500px;
  --border-radius-circular: 50%;
  --color-master-primary: #B28756;
  --color-master-darkest: #0a0a0a;
  --color-master-light: #e6e6e6;
  --color-master-lightest: #fafafa;
  --font-family-default: 'Montserrat', sans-serif;
  --font-size-xxxs: 12px;
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --font-size-display: 80px;
  --font-size-giant: 96px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --spacing-quarck: 4px;
  --spacing-nano: 8px;
  --spacing-xxxs: 16px;
  --spacing-xxs: 24px;
  --spacing-xs: 32px;
  --spacing-sm: 40px;
  --spacing-md: 48px;
  --spacing-lg: 56px;
  --spacing-xl: 64px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 120px;
  --spacing-huge: 160px;
  --spacing-giant: 200px;
  --spacing_inset-quarck: 4px;
  --spacing_inset-nano: 8px;
  --spacing_inset-xs: 16px;
  --spacing_inset-sm: 24px;
  --spacing_inset-md: 32px;
  --spacing_inset-regular: 36px;
  --spacing_inset-lg: 40px;
  --shadow-level-1: 0 4px 8px;
  --shadow-level-2: 0 8px 24px;
  --shadow-level-3: 0 16px 32px;
  --shadow-level-4: 0 16px 48px;
}
