:root {
  --border-radius-pill: 500px;
  --border-radius-circular: 50%;
  --color-master-dark: #2c2c2c;
  --color-master-lightest: #fafafa;
  --color-master-primary: #B28756;
  --font-weight-semibold: 600;
}

.btn {
  align-items: center;
  border: none;
  border-radius: var(--border-radius-pill);
  color: var(--color-master-lightest);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  padding: var(--spacing_inset-xs);
  text-transform: uppercase;
}

.btn-large {
  width: 200px;
}

.btn-short {
  width: 150px;
}

.btn-primary {
  background-color: var(--color-master-primary);
}

.btn-dark {
  background-color: var(--color-master-dark);
}

.btn-dark:hover {
  background-color: var(--color-master-primary);
}
