.card {
  align-items: center;
  background-color: var(--color-master-lightest);
  box-shadow: var(--shadow-level-1) var(--color-master-light);
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-xs);
  height: 100%;
  justify-content: space-between;
  min-height: 300px;
  padding: var(--spacing_inset-sm);
  width: 280px;
}

.card__plan {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
}

.card__month {
  color: var(--color-master);
}

.card__plan-price {
  font-size: var(--font-size-md);
}

.card__list {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xxxs);
  gap: var(--spacing_inset-nano);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: var(--spacing_inset-xs) 0;
  text-align: center;
}

.card__list li {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card__list li::after {
  content: " ";
  border-bottom: 1px solid var(--color-master);
  padding: var(--spacing_inset-quarck) 0;
  width: 10px;
}

.card__list li:last-child::after {
  content: none;
  border-bottom: none;
}

.card__figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing_inset-md);
  text-align: center;
}

.card__social {
  align-items: center;
  display: flex;
  gap: var(--spacing_inset-xs);
  justify-content: center;
}

.card__social img {
  background-color: var(--color-master-light);
  border-radius: var(--border-radius-circular);
  cursor: pointer;
  height: 25px;
  padding: var(--spacing_inset-quarck);
  object-fit: contain;
  width: 25px;
}

.card__social img:hover {
  background-color: var(--color-master-primary);
}
