* {
  box-sizing: border-box;
  font-family: var(--font-family-default), sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.main {
  height: auto;
  width: 100vw;
}

.main__hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  width: auto;
}

.main__sliders{
  display: flex;
  height: 100%;
  width: calc(100vw * 3);
}

.main__hero-img {
  display: inline-block;
  filter: brightness(35%);
  height: 100%;
  object-fit: cover;
  width: 100vw;
}

.main__hero-title {
  align-items: center;
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xxxl);
  height: 100%;
  justify-content: center;
  line-height: var(--spacing-lg);
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.main__hero-title > span {
  color: var(--color-master-primary);
}

.main__hero-title > p {
  font-size: var(--font-size-xs);
}

.main__about .container {
  padding-bottom: var(--spacing_inset-lg);
  gap: var(--spacing_inset-lg);
}

.main__about-text,
.main__about-video {
  width: 50%;
}

.main__about-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-lg);
  justify-content: space-between;
  line-height: 25px;
}

.main__about-video img {
  box-shadow: var(--shadow-level-1);
  object-fit: cover;
  width: 500px;
}

.main__services .container {
  align-items: center;
  justify-content: center;
  padding-bottom: var(--spacing_inset-lg);
}

.main__services-icons {
  align-items: center;
  border-left: var(--border-width-hairline) solid var(--color-master);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing_inset-sm);
  height: 100%;
  padding: var(--spacing_inset-lg);
  text-align: center;
}

.main__services-icons figcaption {
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-nano);
}

.main__services-icons strong {
  font-size: var(--font-size-xxs);
  text-transform: uppercase;
}

.main__services-icons figcaption p {
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-light);
}

.main__services-icons:nth-last-child(1) {
  border-right: var(--border-width-hairline) solid var(--color-master);
}

.main__projects .container {
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--spacing_inset-lg);
}

.main__projects-filter {
  border: var(--border-width-hairline) solid var(--color-master-light);
  border-radius: var(--border-radius-pill);
  box-shadow: var(--shadow-level-1) var(--color-master-light);
  height: 70px;
}

.main__projects-list {
  display: flex;
  margin: 0;
  padding: 0 var(--spacing_inset-md);
}

.main__projects-list li {
  border-right: var(--border-width-hairline) solid var(--color-master-light);
  cursor: pointer;
  height: 100%;
  list-style: none;
  padding: var(--spacing_inset-sm) var(--spacing_inset-sm) 20px;
  text-transform: uppercase;
}

.main__projects-list li:last-child {
  border-right: none !important;
}

.main__projects-list li:hover {
  border-bottom: var(--border-width-thick) solid var(--color-master-primary);
}

.main__projects-gallery {
  padding: var(--spacing_inset-lg) 0;
}

.main__projects-gallery {
  display: grid;
  gap: var(--spacing_inset-sm);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

@media (min-width: 769px) {
  .main__projects-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.main__projects-image {
  height: 240px;
  position: relative;
}

.main__projects-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.main__projects-caption {
  color: var(--color-master-lightest);
  display: none;
  height: 100%;
  position: absolute;
  right: 50%;
  top: 50%;
  text-align: center;
  transform: translate(50%, -50%);
  user-select: none;
  width: 100%;
}

.main__projects-image:hover figcaption {
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
}

.main__projects-caption strong {
  font-weight: var(--font-weight-bold);
}

.main__team-area {
  background-color:rgba(0, 0, 0, 0.7);
  width: 100vw;
}

.main__team {
  background-attachment: fixed;
  background-image: url('../media/bg.jpg');
  background-position: center;
}

.main__team-div {
  display: flex;
  gap: var(--spacing_inset-sm);
  margin: auto;
  max-width: calc(300px * 3);
  overflow: hidden;
  padding-bottom: var(--spacing_inset-lg);
}

.main__team-div .card {
  box-shadow: var(--shadow-level-1) var(--color-master);
}

.main__sliders .card__image {
  width: 120px;
}

.main__team-area .pointer__area {
  position: relative;
}

.container .clients {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients__figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-md);
  justify-content: center;
}

.clients__figure img {
  height: 120px;
  width: 120px;
}

.clients__caption {
  line-height: var(--spacing_inset-sm);
  text-align: center;
}

.clients__caption-depoiment {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-lg);
  padding: var(--spacing_inset-lg) 0;
  width: 100%;
}

.clients__caption-depoiment img {
  height: 25px;
  width: 30px;
}

.main__clients .pointer__area {
  position: relative;
}

.main__brands {
  border-bottom: var(--border-width-hairline) solid var(--color-master-light);
  border-top: var(--border-width-hairline) solid var(--color-master-light);
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;
}

.main__brands .container {
  justify-content: space-between;
}

.main__price {
  background-color: var(--color-master-light);
}

.main__price .container {
  gap: var(--spacing_inset-xs);
  padding: var(--spacing_inset-lg) 0;
}

.main__price .card {
  background-color: #fff;
  gap: var(--spacing_inset-nano) !important;
  justify-content: flex-start;
  width: calc(100% / 100 * 100) !important;
}

.main__price .card > .btn {
  margin: 0 !important;
}

.main__premium .container {
  border-bottom: 1px solid var(--color-master-light);
  justify-content: center;
  padding-bottom: var(--spacing_inset-md);
}

.main__premium-feature {
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-sm);
}

.main__premium-figure,
.main__premium-feature {
  display: flex;
  justify-content: center;
  width: 50%;
}

.feature__figure {
  align-items: flex-start;
  display: flex;
  gap: var(--spacing_inset-sm);
}

.feature__caption {
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-nano);
}

.feature__caption p {
  color: var(--color-master);
  line-height: var(--spacing_inset-sm);
}

.feature__list {
  color: var(--color-master);
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.feature__list li::before {
  content: "-";
  margin-right: var(--spacing-xxxs);
}

.main__premium .pointer__area {
  margin: var(--spacing-xs) 0 0 0;
  position: relative;
}

.main__facts .container {
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-sm);
}

.facts__item {
  align-items: center;
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-nano);
  height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: calc(90% / 4);
}

.facts__item .facts__numbers {
  color: var(--color-master-primary);
  font-size: var(--font-size-xl);
  text-align: center;
}

.facts__item .facts__numbers::after {
  content: " ";
  border-bottom: var(--border-width-hairline) solid var(--color-master);
  display: flex;
  margin: 0 auto;
  width: 10px;
}

.facts__item p {
  color: var(--color-master);
  font-size: 8px;
  width: 80%;
}

.main__social-bar {
  border-bottom: var(--border-width-hairline) solid var(--color-master-light);
  border-top: var(--border-width-hairline) solid var(--color-master-light);
}

.main__social-bar .container {
  justify-content: center;
}

.socialbar__figure {
  align-items: center;
  display: flex;
  gap: var(--spacing_inset-nano);
  padding: var(--spacing_inset-sm);
}

.socialbar__figure img {
  border-radius: var(--border-radius-circular);
  cursor: pointer;
  height: 40px;
  object-fit: none;
  width: 40px
}

.socialbar__figure strong {
  font-size: var(--font-size-xxxs);
  color: var(--color-master-dark);
}

.socialbar__figure:first-child strong {
  color: var(--color-master);
}

.socialbar__figure img[alt="twitter"] {
  background-color: rgb(0, 153, 255);
}

.socialbar__figure img[alt="linkedin"] {
  background-color: rgb(74, 84, 231);
}

.socialbar__figure img[alt="facebook"] {
  background-color: rgb(0, 17, 255);
}

.socialbar__figure img[alt="googleplus"] {
  background-color: rgb(223, 68, 76);
}

.socialbar__figure img[alt="pinterest"] {
  background-color: rgb(214, 37, 37);
}

.main__contact .container {
  justify-content: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__group {
  display: flex;
  justify-content: space-between;
}

.form__group:last-child {
  margin-top: var(--spacing-sm) !important;
}

.contact__input {
  border: none;
  border-bottom: var(--border-width-hairline) solid var(--color-master-light);
  color: var(--color-master);
  flex: 1;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  margin: var(--spacing-nano);
  outline: none;
  padding: var(--spacing_inset-nano) 0;
  text-transform: uppercase;
  width: 90%;
}

.contact__form .btn {
  margin: var(--spacing-sm) auto;
}

.main__local {
  background-attachment: fixed;
  background-image: url('../media/map.jpg');
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

.main__local .container {
  padding: var(--spacing_inset-md) 0;
}

.local__info {
  background-color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--spacing_inset-sm);
  padding: var(--spacing_inset-lg);
}

.local__figure {
  align-items: center;
  display: flex;
  gap: var(--spacing_inset-sm);
}

.local__figure img {
  background-color: var(--color-master);
  border-radius: var(--border-radius-circular);
  height: 30px;
  object-fit: none;
  width: 30px;
}

.footer {
  background-color: var(--color-master-darkest);
}

.footer .container {
  align-items: flex-start;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--spacing_inset-sm) 0;
}

.footer .card__social-div {
  align-items: flex-start;
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer .card__social img {
  background-color: var(--color-master);
}

.footer__article {
  color: var(--color-master-lightest);
  font-size: var(--font-size-xxs);
  width: 90%;
}

.footer__newsletter {
  align-items: center;
  background-color: var(--color-master-dark);
  border-radius: var(--border-radius-sm);
  color: var(--color-master-lightest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing_inset-lg);
}

.footer__newsletter-input {
  background-color: var(--color-master-dark);
  border: none;
  border-bottom: var(--border-width-hairline) solid var(--color-master-lightest);
  color: var(--color-master-lightest);
  font-size: var(--font-size-xs);
  padding-bottom: var(--spacing_inset-xs);
  text-align: center;
  outline: none;
}

.footer__newsletter .btn {
  margin: unset;
  margin-top: var(--spacing-xs);
}
